*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
	overflow-x: hidden;
}
body{
	background-color: black;
	overflow-x: hidden;
}
.profile,.academic,.activities,.gallery,.contact{
	display: none;
}

/* Header styling */

header{
	display: none;
	width: 100vw;
	position: fixed; 
	background-color: #333;
	opacity: 100;
}
.icon-nav{
	height: auto;
}
.icon-nav ul{
	text-align: center;
}
.icon-nav ul li{
	padding: 10px 25px;
	display: inline-block;
	text-align: center;
	font-size: 25px;
}
a{
	text-decoration: none;
	color: white;
}
a:hover{
	color: red;
}
.button-nav{
	display: none;
}
.button-nav  div span{
	margin: 5px 10px ;
	width: 25px;
	height: 5px;
	background-color: white;
	display: block;
}

/* Intro styling */

.intro{
	padding-top: 40vh;
	height: 100vh;
	text-align: center;
	width: 100vw;
	clear: both;
	text-align: center;
	background-image: url("../Images/tb.jpg");
	background-size: cover;
	background-attachment: fixed;
}
.intro .i-name{
	font-size: 10vmin;
	color: white;
	font-weight: bold;
}
.intro .i-clg{
	font-size: 3vmin;
	color: white;
}
.line {
	display: inline-block;
	content: " ";
	background-color: white;
	height: .2vh;
	width: 30%;
}
.arrow-down {
  border: solid white;
  border-width: 0 0.5vmax 0.5vmax 0;
  display: inline-block;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 1.5vmax;
  height: 1.5vmax;
}
.intro .arrow:hover{
	border: .1vmax solid white;
	background-color:  #1a0000;
}

/* Profile styling */

.profile{
	padding-top: 10vmin;
	width: 100%;
	text-align: center;
	min-height: 100vh;
	background-color:  #001a00; 
}
.profile .ppic{
	padding-top: 15vh;
	padding-left: 10vw;
	float: left;
	width: 35vw;
}
.profile .ppic img{
	width: 75%;
	border-radius: 50%;
}
.profile .speech{
	padding-top: 15vh;
	padding-right: 10vw;
	float: right;
	width: 60vw;
	color: #fff5e6;
	font-size: 2vmax;
}
.profile .speech span{
	padding-top: 20px;
	display: block;
}
.skills{
	visibility: hidden;
	margin-top: 1vh;
	padding-top: 5vh;
	clear: both;
	color: white;
	font-size: 2vmax;
	border: 1px solid white;
}

/* Academic Style */

.academic{
	padding-top: 10vh;
	width: 100%;
	background-color: #e6e6e6;
	min-height: 100vh;
	text-align: center;
}
.edu{
  	padding: 5vmin 5vmin;
	color: grey;
	font-size: 1.5vmax;
}
.edu img{
	width: 5vmax;
	height: 5vmax;
}
.edu  span h2{
	color: brown;
	font-size: 2vmax;
}


.headings{
	font-size: 5vmin;
	color:  #ff6600;
}
/* Activities Style */

.activities{
	padding-top: 10vh;
	width: 100%;
	background-color: black;
	min-height: 100vh;
	text-align: center;
}
.por{
  	padding: 5vmin 7vmin; 
	color: white;
	font-size: 1.3vmax;
}
.por  span h2{
	color:   #ff0000;
	font-size: 1.6vmax;
}
.t-name i{
	text-decoration: underline;
	padding-bottom:15px; 
}
.por span ul li{
	line-height: 3vh;
	font-size: 1.2vmax;
	list-style-type: none;
}

/* Galery Styling */
.gallery{
	padding: 10vh 5vw;
	width: 100%;
	background-color:#cccccc;
	min-height: auto;
	text-align: center;

}
.imgs{
	display: inline-block;
	margin-top: 5vh;
}
.imgs img{
	margin: 0%;
	width : 32vmax;
	height: 24vmax;
	border-radius: 10px;
	vertical-align: middle;
}
#image2,#image0{
	opacity: .5;
	width : 16vmax;
	height: 12vmax;
	border-radius: 10px;
}

.arrow-left{
  border: solid white;
  border-width: 0 6px 6px 0;
  display: inline-block;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  width: 25px;
  height: 25px;
}
.arrow-right {
  border: solid white;
  border-width: 0 6px 6px 0;
  display: inline-block;
  transform: rotate(315deg);
  -webkit-transform: rotate(315deg);
  width: 25px;
  height: 25px;
}


/* Contact style */

.contact{
	padding-top: 10vh;
	text-align: center;
	width: 100%;
	background-color:  #666666;
	min-height: auto;
} 

.message {
	padding-top: 5vh;
	padding-left: 10vw;
	padding-bottom: 10vh;
	float: left;
	width: 45vw;
	text-align: center;
	line-height: 3vh;
}
form{
	width: 30vw;
}
form label{
	font-weight: bold;
	color: white;
}
input[type="mail"]{
	padding: .5em;
	border-radius: 1vh;
	height: 5vh;
	width: 30vw;

}
textarea[type="message"]{
	padding: .5em;
	border-radius: 1vh;
	height: 15vh;
	width: 30vw;
}
input[type="submit"]{
	font-weight: 800;
	width: 10vmax;
	border-radius: 10%;
	padding: 5px 15px;
}
input[type="submit"]:hover{
	width: 11vmax;

}
.social{
	float: right;
	padding-top: 5vh;
	padding-right: 10vw;
	padding-bottom: 10vh;
	width: 35vw;
}
.social img{
	padding: 2vmin;
	width: 11vmin;
	height: 11vmin;
}
.social img:hover{
	width: 13vmin;
	height: 13vmin;
}

.t-foot{
	font-size: 1.5vmax;
	padding: 10vh;
	clear: both;
	color: white;
	background-color: #737373;
	text-align: center;
}
.otherwebsites a:hover{
	color: red;
}
.arrow{
	display: inline-block;
	width: 5vmax;
	height: 5vmax;
	padding:1.6vmax ;
	text-align: center;
	border-radius: 50%;
}
.otherwebsites ul li{
	list-style-type: none;
}
.otherwebsites .arrow:hover{
	border: .1vmax solid white;
	background-color: black;
}
.arrow-up{
  border: solid white;
  border-width: .5vmax 0 0 .5vmax;
  display: inline-block;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 1.5vmax;
  height: 1.5vmax;
}

/*----------MOBILE VIEW------------*/

@media only screen and (max-width: 700px){
	.icon-nav{
		display: none;
	}
	.button-nav{
		display: initial;
	}
}

@media  only screen and (max-width: 850px) {
	.profile .ppic img{
		width: 30%;
	}
  .profile .ppic{
  	padding: 5vh;
  	width: 100vw;
  }
  .profile .ppic img{
  	width: 50%;
  }
  .profile .speech{
  	padding: 5vh;
  	width: 100vw;
  }
  .headings{
  	font-size: 5vmax;
  }
  .edu{
  	padding: 5vmax 5vmax;
  }
  .edu  span h2{
	font-size: 2.5vmax;
  }
  .edu {
    font-size: 2vmax;
   }
   .por{
   	padding: 5vmax 7vmax;
	font-size: 1.5vmax;
	}
	.por  span h2{
		font-size: 2vmax;
	}
	.por span ul li{
		font-size: 1.25vmax;
		line-height: 2vh;
	}
	#image0,#image2{
		display: none;
	}
	.contact{
		text-align: center;
	}
	.message{
		padding-bottom: 0;
		float: none;
		width: 100vw;
		text-align: center;
		padding-left: 0;
	}
	form{
		width: 100vw;
		text-align: center;
	}
	input[type="mail"]{
		height: 5vh;
		width: 70vw;
	}
	textarea[type="message"]{
		height: 20vh;
		width: 70vw;
	}
	.social{
		padding-bottom: 0;
		float: none;
		width: 100vw;
		padding-right: 0;
	}
}

