*{
	margin: 0px;
	padding: 0px;
}
body{
	text-align: center;
	background-color:#e87472;
	background-size:cover;
}
.t-header h1{
	margin: 20px;
	font-family:Colonna MT;
	text-shadow: 2px 2px grey;
	font-size: 3em;

}
.t-header h2 span{
	display:block;
	margin-top: 10px;

}form{
	margin-top: 10%;
	padding: 20px;
	display: inline-block;
	border: 5px solid white;
	border-radius: 5px;
	width: 30%;
}
form label{
	width: 30%;
}
form select{
	border: 1px solid black;
	width: 25%;
}
form input[type="submit"]{
	padding: 10px;
	width: 80%;
	height: 10%;
	background-color: #24f1b4;
	border: 2px solid white;
	border-radius: 6px;
}
.cat-img img{
	border: 30px solid grey;	
	border-radius:10px;
	width: 50%;
	height: 50%;
	margin-top: 30px ;
	margin-bottom: 20px
}
.t-footer{
	margin-top:15%;
	font-size: 100%;
}